body{
    margin: 0px;
    font-size: larger;
}

.page-nav-header{
    background-color: rgb(33, 45, 64);
    color: rgb(221, 240, 255);
    display: block;
    position: sticky;
    top: 0%;
}





/* Add screen styles below */
