body{
    margin: 0px;
    font-size: 19px;
    font-family: sans-serif;
    background-color: gray;
}
a{
    color: rgb(221, 240, 255);
    text-decoration: none;
}
.page-nav-header{
    background-color: rgb(33, 45, 64);
    color: rgb(221, 240, 255);
    display: flex;
    position: sticky;
    top: 0%;
    height: fit-content;
    justify-content: space-between;

}
.page-nav-header .img-container, .page-nav-header .name-header, .page-nav-header nav{
    display: inline-block;
}
.page-nav-header .img-container{
    width: 99px;
    padding: 3px 25px 0 20px;
    margin: 20px;
}
.page-nav-header .name-header{
    font-size: 100%;
    margin: auto 0 auto 30px;
}
.page-nav-header .name-header h1{
    font-size: 52px;
    font-weight: bold;
    margin: 7px 0 2px 9px;
}
.page-nav-header .name-header p{
    font-size: 19px;
    font-weight: bold;
    margin: 5px 0 0 9px ;
}
.page-nav-header nav{
    width: 50%;
    margin: auto 0 auto auto;
    text-align: right;
}
.page-nav-header nav ul{
    justify-content: right;
}
.page-nav-header nav ul li{
    display: inline-block;
    margin: 14px 10px 10px 10px;
}
.img-container img{
    width: 100%;
}

div h2, div p{
    max-width: 896px;
    margin: 0 auto 0 auto;
}
div section{
    max-width: 912px;
    margin: 0 auto;
}
article{
    max-width: 912px;
    margin: 0 auto 0 auto;
}

.top-bar{
    background-color: rgb(221, 240, 255);
}
.top-bar h2{
    font-size: 36px;
    padding: 21px 0px 12px 0px;
}
.top-bar p{
    font-size: 20px;
    padding: 6px 0px 20px 0px;
}

.game-summary{
    display: flex;
}
.game-summary .img-container{
    max-width: 300px;
    margin: 20px 20px 20px 0;
}
.text-container{
    margin: 20px 0 20px 10;
}
.text-container h3{
    font-size: 36px;
    padding: 21px 0px 12px 0px;
    margin: 37px 0 0 5px;
}
.text-container p{
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    margin: 0 0 0 5px;
}


/* Add screen styles below */
