body{
    margin: 0px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(242, 246, 247);
}
p, h1, h2, h3, h4{
    color: rgb(33, 45, 64);
}
a{
    color: rgb(221, 240, 255);
    text-decoration: none;
}
.img-container{
    width: 300px;
    min-width: 300px;
    margin: 20px 0 20px 20px;
}
.img-container img{
    width: 100%;
}

.page-nav-header{
    background-color: rgb(33, 45, 64);
    color: rgb(221, 240, 255);
    display: flex;
    position: sticky;
    top: 0%;
    height: fit-content;
    justify-content: space-between;

}
.page-nav-header .img-container, .page-nav-header .name-header, .page-nav-header nav{
    display: inline-block;
}
.page-nav-header .img-container{
    width: 99px;
    min-width: 99px;
    padding: 3px 25px 0 20px;
    margin: 20px;
}
.page-nav-header nav{
    margin: auto 0 auto auto;
    text-align: right;
}
.name-header{
    margin: auto 0;
}
.name-header h1{
    font-size: 52px;
    font-weight: bold;
    margin: 7px 0 2px 9px;
    color: rgb(221, 240, 255);
}
.name-header p{
    font-weight: bold;
    margin: 5px 0 0 9px ;
    color: rgb(221, 240, 255);
}
nav ul{
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin: 14px 10px 10px 10px;
}


div h2, div p{
    max-width: 896px;
    margin: 0 auto 0 auto;
}
div section{
    max-width: 932px;
    margin: 0 auto;
}
article{
    max-width: 952px;
    margin: 0 auto 0 auto;
}

.text-container{
    margin: 20px 10px 20px 20px;
}
.text-container h3{
    font-size: 36px;
    padding: 21px 0px 12px 0px;
    margin: 6px 0 0 5px;
}
.text-container p{
    padding: 10px 0px 10px 0px;
    margin: 0 0 0 5px;
}


.top-bar{
    background-color: rgb(221, 240, 255);
    display: flex;
    justify-content: center;
}
.top-bar .img-container{
    width: 325px;
    min-width: 325px;
}
.top-bar .text-container{
    max-width: 632px;
    margin: auto 0 auto 20px;
}
.top-bar .text-container h2{
    font-size: 36px;
    padding: 21px 0px 12px 0px;
}
.top-bar .text-container p{
    padding: 6px 0px 20px 0px;
}

.game-summary{
    display: flex;
    max-width: 952px;
    padding: 17px 10px 17px 0;
    border: 0;
    border-bottom: 2px;
    border-color: rgb(84, 134, 135);
    border-style: solid;
    margin: 0 auto;
}
.game-summary-borderless{
    display: flex;
    max-width: 952px;
    padding: 17px 10px 17px 0;
    margin: 0 auto;
}

.project-synopsis h2{
    text-align: center;
    font-size: 36px;
}
.contribution-block h3, .contribution-subblock h3, .contribution-block-type2 h3{
    text-align: center;
    font-size: 32px;
}
.contribution-block{
    display: flex;
}
.contribution-block .img-container{
    margin: auto 20px;
}
.img-container-cropped{
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: auto 20px;

}
.img-container-cropped img{
    margin: 0 0 0 -36%;
    height: 100%;
}

.contribution-subblock{
    max-width: 95%;
    margin: 0 auto;
}
.contribution-subblock h4{
    font-size: 24px;
    margin: 0;
}
.contribution-subblock-type2{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
}
.contribution-subblock-type2 .img-container{
    width: 300px;
    min-width: 350px;
    margin: auto 0 auto 20px;
}

.img-container-type2{
    min-width: 500px;
    margin: auto 20px auto 0;
}
.img-container-type2 img{
    width: 100%;
}
#about-introduction{
    display: flex;
    margin: 20px;
}
#about-body{
    margin: 20px;
}


footer{
    height: 100px;
    background-color: rgb(221, 240, 255);
}
footer .text-container{
    max-width: 927px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer a{
    color: rgb(33, 45, 64);
    margin: 40px;
    text-decoration: underline;
}

/* Add screen styles below */
@media only screen and (min-width: 768px) {
    body{
        font-size: 17px;
    }
    .page-nav-header .img-container{
        padding: 0;
        width: 77px;
        min-width: 77px;
        margin: 15px;
    }
    .name-header{
        margin: auto 0;
    }
    .name-header h1{
        font-size: 32px;
    }
    .name-header p {
        font-size: 17px;
    }
    .page-nav-header{
        font-size: 17px;
    }
    nav ul li{
        margin: 2px;
    }
    .game-summary, .game-summary-borderless{
        max-width: 734px;
    }
}
@media only screen and (min-width: 992px) {
    body{
        font-size: 17px;
    }
    .page-nav-header .img-container{
        padding: 0;
        width: 88px;
        margin: 15px;
    }
    .name-header{
        margin: auto 0;
    }
    .name-header h1{
        font-size: 38px;
    }
    nav ul li{
        margin: 2px;
    }
    #wide-nav-list{
        display: none;
    }
    #layered-nav-list{
        display: inline-block;
    }
}
@media only screen and (min-width: 1100px) {
    body{
        font-size: 20px;
    }
    .page-nav-header .img-container{
        padding: 0;
        width: 88px;
        margin: 15px;
    }
    .name-header{
        margin: auto 0;
    }
    .name-header h1{
        font-size: 38px;
    }
    .name-header p {
        font-size: 20px;
    }
    .page-nav-header{
        font-size: 20px;
    }
    nav ul li{
        margin: 2px;
    }
    .game-summary, .game-summary-borderless{
        max-width: 952px;
    }
    #wide-nav-list{
        display: inline-block;
    }
    #layered-nav-list{
        display: none;
    }
}
@media only screen and (min-width: 1200px) {
    body{
        font-size: 20px;
    }
    .page-nav-header .img-container{
        width: 99px;
        padding: 0 15px;
    }
    .name-header{
        margin: auto 0;
    }
    .name-header h1{
        font-size: 44px;
    }
    .name-header p {
        font-size: 20px;
    }
    .page-nav-header{
        font-size: 20px;
    }
    
    nav ul li{
        margin: 7px 5px 5px 5px;
    }
}
@media only screen and (min-width: 1400px) {
    .page-nav-header .img-container{
        padding: 0 25px;
    }
    .name-header h1{
        font-size: 52px;
    }
    .name-header p {
        font-size: 20px;
    }
    .page-nav-header{
        font-size: 20px;
    }
    nav ul li{
        margin: 14px 10px 10px 10px;
    }
}